<section class="border-top section slideshow-section">
  <div class="container">
    <div class="slideshow smoothheight">
      {% for i in (1..5) %}
        {% capture show_slide %}slide_{{ i }}{% endcapture %}
        {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
        {% capture link %}slide_{{ i }}_link{% endcapture %}
        {% capture alt %}slide_{{ i }}_alt{% endcapture %}
        {% capture overlay_align %}slide_{{ i }}_overlay_align{% endcapture %}
        {% capture overlay_1 %}slide_{{ i }}_overlay_1{% endcapture %}
        {% capture overlay_2 %}slide_{{ i }}_overlay_2{% endcapture %}
        {% capture overlay_btn %}slide_{{ i }}_overlay_btn{% endcapture %}
        {% if settings[show_slide] %}
        <div class="slide">
          {% if settings[link] != blank %}<a href="{{ settings[link] }}">{% endif %}
          <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
          {% if settings[link] != blank %}</a>{% endif %}

          {% if settings[overlay_1] != blank or settings[overlay_2] != blank or settings[overlay_btn] != blank %}
          <div class="slide-overlay slide-{{i}} align-{{ settings[overlay_align] }}">
            <div class="inner">
              <div class="line-1 trans-out">
                {% if settings[overlay_1] != blank %}
                {{ settings[overlay_1] }}
                {% endif %}
              </div>
              <div class="line-2 trans-out">
                {% if settings[overlay_2] != blank %}
                {{ settings[overlay_2] }}
                {% endif %}
              </div>
              {% if settings[overlay_btn] != blank %}
              <div class="line-3 trans-out"><a class="btn" href="{{ settings[link] }}">{{ settings[overlay_btn] }}</a></div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>